<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
<form th:action="@{/login}" modelAttribute="forma" name="forma" method="post">
    <h3>Авторизация</h3>
    <div th:if="${param.error}">
        <span style="color: #ff0000" th:text="${WrongPassword}"></span>
    </div>
        <input type="text" th:name="username" placeholder="Логин"/>
    <input type="password" name="password" placeholder="Пароль"/>
    <div><input type="submit" value="Авторизоваться" /></div>
</form>
</body>
</html>